body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.titulo {
    font-family: 'Roboto',sans-serif;
    font-size: 6em;
    text-align: center;
    margin-bottom: 20px;
    color: #d4b6b6;
    font-weight: 100;
}

.entrada-tarea {
    display: flex;
    justify-content: center;
    margin-bottom: 0; /* Quitar el espacio entre el input y la lista de tareas */
}

.input-tarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 500px;
}

.lista-tareas {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: visible; /* Permitir que los pseudo-elementos sean visibles */
}

.lista-tareas::before, .lista-tareas::after, .folio-1, .folio-2 {
    content: '';
    display: block;
    height: 8px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: absolute;
    left: 0%; /* Centrar los folios */
    width: 100%; /* Ajustar el ancho de los folios */
    transform: translateX(-50%); /* Centrar los folios */
    z-index: -1; /* Asegurar que los pseudo-elementos estén detrás de la lista de tareas */
}

.lista-tareas::before {
    top: 100%; /* Posicionar el primer folio justo debajo de la lista de tareas */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(0px) scale(0.98); /* Desplazar y escalar el primer folio */
}

.lista-tareas::after {
    top: 100%; /* Posicionar el segundo folio justo debajo del primero */
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(7px) scale(0.93); /* Escalar el segundo folio */
}

.folio-1 {
    top: 80%; /* Posicionar el tercer folio justo debajo del segundo */
    box-shadow: 0 18px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(12px) scale(0); /* Escalar el tercer folio */
    z-index: -2;
}

.folio-2 {
    top: 80%; /* Posicionar el cuarto folio justo debajo del tercero */
    box-shadow: 0 24px 25px rgba(0, 0, 0, 0.1);
    transform: translateY(24px) scale(0); /* Escalar el cuarto folio */
    z-index: -3;
}

.tarea-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.tarea-item:hover .boton-eliminar {
    display: inline; /* Muestra la "X" cuando se pasa el cursor por encima */
}

.boton-eliminar {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1em;
    display: none; /* Esconde la "X" por defecto */
}

.boton-eliminar:hover {
    background-color: #c82333;
}

.items-restantes {
    text-align: left;
    margin-top: 20px;
    color: #c7c9c2;
    padding-left: 10px;
}
