/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.titulo {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.entrada-tarea {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.input-tarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 250px;
}

.lista-tareas {
    
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 300px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.tarea-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.tarea-item:hover .boton-eliminar{
    display: inline;/*Mustro la 'X' cuando pasa el cursor por encima*/
}
.tarea-apilada{
    margin-top: -5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.boton-eliminar {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1em;
    display: none;/* oculto la 'X' por defecto*/
}

.boton-eliminar:hover {
    background-color: #c82333;
}

.items-restantes {
    text-align: center;
    margin-top: 20px;
    color: #666;
}
